.modal_two {
    visibility: hidden;
    padding: 0;
}
.modal_two-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -30px;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 50%);
}

.modal_two-window {
    transform: scale(0.1);
    width: 355px;
    border-radius: 5px;
    background: #fff;
    height: 410px;
    margin: 100px auto;
    border: solid 5px rgba(0, 167, 233, 50%);
}

.modal_two-header {
   padding: 5px 10px;
   display: flex;
   justify-content: center;
   border-bottom: solid 2px rgba(0, 167, 233, 40%);
   margin-bottom: 10px;
}

.modal_two-title {
    font-size: 1.5rem;
}

.modal_two-body {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    align-items: center;
    text-align: center;
}

.modal_two-body-title {
    margin-bottom: 5px;
}

.modal_two-body-input1 {
    margin-bottom: 10px;
}

.modal_two-body-input2 {
    margin-bottom: 10px; 
}

.modal_two-body-input3 {
    margin-bottom: 10px; 
}

.modal_two-btn {
    text-align: center;
}

.btn_two {
    width: 300px;
    margin-bottom: 18px;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	cursor:pointer;
	color:#ffffff;
	font-size: 1rem;
	font-weight:bold;
    padding: 5px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.btn_two:hover {
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;  
}
.btn_two:active {
	position:relative;
	top:1px;
}

.modal_two-result {
    display: flex;
    visibility: hidden;
    justify-content: space-around;
    border-bottom: solid 2px rgba(0, 167, 233, 40%);
    padding-bottom: 30px;
}

.modal_two-finish {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.finishPROD {
    box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.finish_two:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.finish_two:active {
	position:relative;
	top:1px;
}